*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}


/* Container */

.container {
    width: 100%;
    max-width: 1366px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header */

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 0 60px;
    width: 34px;
    height: 30px;
}


/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 670px;
    background: #e9e9e9 center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #929292;
    line-height: 1;
    padding-bottom: 40px;
}

.intro__inner {
    width: 100%;
    max-width: 477px;
    margin: 5px 4em 0 auto;
}


/* Nav */

.nav {
    font-size: 12px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: black;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:hover {
    color: #54d0cb;
}

.nav__link.active {
    color: #54d0cb;
}


/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: #10c9c3;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}


/* Section */

.section {
    padding: 100px 0;
    height: 425px;
}

.section--skills {
    height: 570px;
    background-color: #f8f9f9;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.section__text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: #9a9a9a;
}


/* Card */

.card {
    margin: 80px -15px 0;
    justify-content: space-between;
}

.card--skills {
    margin: -323px 0 auto auto;
    width: 50%;
    height: 570px;
    background-color: #e9e9e9;
}


/* Skills */

.skills__title {
    font-weight: 500;
    padding-bottom: 40px;
}

.skills__item {
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.skills__item:after {
    content: "";
    display: block;
    width: 503px;
    height: 5px;
    background-color: #d8d8d8;
}

.skills__header {
    padding-left: 100px;
}


/* Statistics */

.statistics {
    background-color: #10c9c3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;
    text-align: left;
    color: #fff;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 12px;
    text-transform: uppercase;
}